@import url('@/settings/global.css');
@import url('@/settings/config.less');

.Alert {
  @apply pointer-events-none absolute top-0 w-full;

  .content {
    box-shadow: 0px 2px 8px 0px #00000026;

    padding-block: calc(var(--spacing) * 0.5);
    @apply bg-bg-white-light animate-fadeInPx pointer-events-auto relative flex flex-row flex-nowrap items-center justify-center rounded-l-full rounded-r-full px-5 text-base;

    &::after {
      right: -8px;
      margin-top: -3%;
      content: url('data:image/svg+xml;utf8,<svg width="12" height="14" viewBox="0 0 12 14" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M12 6.92822L0 13.8564L0 1.90258e-05L12 6.92822Z" fill="white"/></svg>');
      @apply absolute top-1/2;
    }

    .icon {
      @apply m-1 h-6 w-6;
    }

    .icon-base {
      background-image: var(--pattern-xs-icon-base);
    }

    .icon-career {
      background-image: var(--pattern-xs-icon-career);
    }

    .icon-finance {
      background-image: var(--pattern-xs-icon-finance);
    }

    .icon-health {
      background-image: var(--pattern-xs-icon-health);
    }

    .icon-relations {
      background-image: var(--pattern-xs-icon-relations);
    }

    .icon-society {
      background-image: var(--pattern-xs-icon-society);
    }
  }
}
