@import url('@/settings/global.css');

.StackView {
  @apply absolute top-0 h-full w-full;

  .odd {
    margin-left: 100vw;
    @apply bg-green-500/50;
  }

  .even {
    margin-left: 100vw;
    @apply bg-blue-500/50;
  }

  .stack {
    width: var(--current-view-width);
    font-size: 500px;
    @apply absolute top-0 h-full text-center;
  }
}
