@import url('@/settings/global.css');
@import url('@/settings/config.less');

.Items {
  .azureCoast-roadSign {
    width: (unit(image-height(@img))) / 1080 * 33vh;

    @img: '../../../../public/scene-azureCoast-roadSign.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--azureCoast-roadSign);
    }

    .marker > div {
      margin-left: 0%;
    }
  }

  .azureCoast-item-1 {
    width: (unit(image-height(@img))) / 1080 * 220vh;

    @img: '../../../../public/scene-azureCoast-item-1.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--azureCoast-item-1);
    }

    .marker > div {
      margin-left: 30%;
    }
  }

  .azureCoast-item-2 {
    width: (unit(image-height(@img))) / 1080 * 50vh;

    @img: '../../../../public/scene-azureCoast-item-2.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--azureCoast-item-2);
    }

    .marker > div {
      margin-left: 0%;
    }
  }

  .azureCoast-item-3 {
    width: (unit(image-height(@img))) / 1080 * 120vh;

    @img: '../../../../public/scene-azureCoast-item-3.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--azureCoast-item-3);
    }

    .marker > div {
      margin-left: 0%;
    }
  }

  .azureCoast-item-4 {
    width: (unit(image-height(@img))) / 1080 * 80vh;

    @img: '../../../../public/scene-azureCoast-item-4.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--azureCoast-item-4);
    }

    .marker > div {
      margin-left: 20%;
    }
  }

  .azureCoast-item-5 {
    width: (unit(image-height(@img))) / 1080 * 120vh;

    @img: '../../../../public/scene-azureCoast-item-5.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--azureCoast-item-5);
    }

    .marker > div {
      margin-left: 0%;
    }
  }

  .azureCoast-item-6 {
    width: (unit(image-height(@img))) / 1080 * 140vh;

    @img: '../../../../public/scene-azureCoast-item-6.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--azureCoast-item-6);
    }

    .marker > div {
      margin-left: 20%;
    }
  }

  .azureCoast-item-7 {
    width: (unit(image-height(@img))) / 1080 * 160vh;

    @img: '../../../../public/scene-azureCoast-item-7.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--azureCoast-item-7);
    }

    .marker > div {
      margin-left: 0%;
    }
  }
}
