@import url('@/settings/global.css');
@import url('@/settings/config.less');

.Items {
  .lushForest-roadSign {
    width: (unit(image-height(@img))) / 1080 * 120vh;

    @img: '../../../../public/scene-lushForest-roadSign.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--lushForest-roadSign);
    }

    .marker > div {
      margin-left: 55%;
    }
  }

  .lushForest-item-1 {
    width: (unit(image-height(@img))) / 1080 * 250vh;

    @img: '../../../../public/scene-lushForest-item-1.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--lushForest-item-1);
    }

    .marker > div {
      margin-left: 0%;
    }
  }

  .lushForest-item-2 {
    width: (unit(image-height(@img))) / 1080 * 130vh;

    @img: '../../../../public/scene-lushForest-item-2.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--lushForest-item-2);
    }

    .marker > div {
      margin-left: -45%;
    }
  }

  .lushForest-item-3 {
    width: (unit(image-height(@img))) / 1080 * 150vh;

    @img: '../../../../public/scene-lushForest-item-3.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--lushForest-item-3);
    }

    .marker > div {
      margin-left: 35%;
    }
  }

  .lushForest-item-4 {
    width: (unit(image-height(@img))) / 1080 * 52vh;

    @img: '../../../../public/scene-lushForest-item-4.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--lushForest-item-4);
    }

    .marker {
      margin-top: 20vh;
      & > div {
        margin-left: 0%;
      }
    }
  }

  .lushForest-item-5 {
    width: (unit(image-height(@img))) / 1080 * 41vh;

    @img: '../../../../public/scene-lushForest-item-5.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--lushForest-item-5);
    }

    .marker {
      margin-top: 20vh;
      & > div {
        margin-left: 0%;
      }
    }
  }

  .lushForest-item-6 {
    width: (unit(image-height(@img))) / 1080 * 43vh;

    @img: '../../../../public/scene-lushForest-item-6.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--lushForest-item-6);
    }

    .marker {
      margin-top: 20vh;
      & > div {
        margin-left: 0%;
      }
    }
  }

  .lushForest-item-7 {
    width: (unit(image-height(@img))) / 1080 * 260vh;

    @img: '../../../../public/scene-lushForest-item-7.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--lushForest-item-7);
    }

    .marker > div {
      margin-left: 33%;
    }
  }
}
