@import url('@/settings/global.css');
@import url('@/settings/config.less');

.Items {
  .moonlitSnowfield-roadSign {
    width: (unit(image-width(@img))) / 3840 * 100%;

    @img: '../../../../public/scene-moonlitSnowfield-roadSign.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--moonlitSnowfield-roadSign);
    }

    .marker > div {
      margin-left: 0%;
    }
  }

  .moonlitSnowfield-item-1 {
    width: (unit(image-width(@img))) / 3840 * 100%;

    @img: '../../../../public/scene-moonlitSnowfield-item-1.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--moonlitSnowfield-item-1);
    }

    .marker > div {
      margin-left: 0%;
    }
  }

  .moonlitSnowfield-item-2 {
    width: (unit(image-width(@img))) / 3840 * 100%;

    @img: '../../../../public/scene-moonlitSnowfield-item-2.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--moonlitSnowfield-item-2);
    }

    .marker > div {
      margin-left: 0%;
    }
  }

  .moonlitSnowfield-item-3 {
    width: (unit(image-width(@img))) / 3840 * 100%;

    @img: '../../../../public/scene-moonlitSnowfield-item-3.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--moonlitSnowfield-item-3);
    }

    .marker > div {
      margin-left: 0%;
    }
  }

  .moonlitSnowfield-item-4 {
    width: (unit(image-width(@img))) / 3840 * 100%;

    @img: '../../../../public/scene-moonlitSnowfield-item-4.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--moonlitSnowfield-item-4);
    }

    .marker > div {
      margin-left: 0%;
    }
  }

  .moonlitSnowfield-item-5 {
    width: (unit(image-width(@img))) / 3840 * 100%;

    @img: '../../../../public/scene-moonlitSnowfield-item-5.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--moonlitSnowfield-item-5);
    }

    .marker > div {
      margin-left: 0%;
    }
  }

  .moonlitSnowfield-item-6 {
    width: (unit(image-width(@img))) / 3840 * 100%;

    @img: '../../../../public/scene-moonlitSnowfield-item-6.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--moonlitSnowfield-item-6);
    }

    .marker > div {
      margin-left: 0%;
    }
  }

  .moonlitSnowfield-item-7 {
    width: (unit(image-width(@img))) / 3840 * 100%;

    @img: '../../../../public/scene-moonlitSnowfield-item-7.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--moonlitSnowfield-item-7);
    }

    .marker > div {
      margin-left: 0%;
    }
  }
}
