@import url('@/settings/global.css');
@import url('@/settings/config.less');

.Item {
  .scene-azureCoast-view-wave-1 {
    width: (unit(image-height(@img))) / 1080 * 4210vh;

    @img: '../../../../public/scene-azureCoast-view-wave-1.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--scene-azureCoast-view-wave-1);

      // @apply bg-primary-blue/30;
      @apply animate-wave-r30;
    }
  }

  .scene-azureCoast-view-wave-2 {
    width: (unit(image-height(@img))) / 1080 * 4210vh;

    @img: '../../../../public/scene-azureCoast-view-wave-2.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--scene-azureCoast-view-wave-2);
      animation-delay: -5s;

      // @apply bg-primary-blue/30;
      @apply animate-wave-r20;
    }
  }

  .scene-azureCoast-view-wave-3 {
    width: (unit(image-height(@img))) / 1080 * 3310vh;

    @img: '../../../../public/scene-azureCoast-view-wave-3.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--scene-azureCoast-view-wave-3);

      // @apply bg-primary-blue/30;
      @apply animate-wave-r10;
    }
  }

  .scene-azureCoast-view-wave-4 {
    width: (unit(image-height(@img))) / 1080 * 810vh;

    @img: '../../../../public/scene-azureCoast-view-wave-4.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--scene-azureCoast-view-wave-4);
      animation-delay: -5s;

      // @apply bg-primary-blue/30;
      @apply animate-wave-r10;
    }
  }

  .scene-azureCoast-view-wave-5 {
    width: (unit(image-height(@img))) / 1080 * 3110vh;

    @img: '../../../../public/scene-azureCoast-view-wave-5.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--scene-azureCoast-view-wave-5);
      animation-delay: -8s;

      // @apply bg-primary-blue/30;
      @apply animate-wave-r10;
    }
  }

  .scene-azureCoast-view-wave-6 {
    width: (unit(image-height(@img))) / 1080 * 3230vh;

    @img: '../../../../public/scene-azureCoast-view-wave-6.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--scene-azureCoast-view-wave-6);
      // animation-delay: -6s;

      // @apply bg-primary-blue/30;
      @apply animate-wave-r5;
    }
  }

  .scene-azureCoast-view-wave-7 {
    width: (unit(image-height(@img))) / 1080 * 1380vh;

    @img: '../../../../public/scene-azureCoast-view-wave-7.png';

    &::before {
      padding-bottom: (unit(image-height(@img) / unit(image-width(@img))) * 100%);
      background-image: var(--scene-azureCoast-view-wave-7);
      animation-delay: -5s;

      // @apply bg-primary-blue/30;
      @apply animate-wave-r10;
    }
  }
}
