@keyframes infiniteCircle_30 {
  0% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  1% {
    transform: translateX(-0.11px) translateY(5.21px) rotate(5deg);
  }
  3% {
    transform: translateX(-0.46px) translateY(10.26px) rotate(10deg);
  }
  4% {
    transform: translateX(-1.02px) translateY(15px) rotate(15deg);
  }
  6% {
    transform: translateX(-1.81px) translateY(19.28px) rotate(20deg);
  }
  7% {
    transform: translateX(-2.81px) translateY(22.98px) rotate(25deg);
  }
  8% {
    transform: translateX(-4.02px) translateY(25.98px) rotate(30deg);
  }
  10% {
    transform: translateX(-5.43px) translateY(28.19px) rotate(35deg);
  }
  11% {
    transform: translateX(-7.02px) translateY(29.54px) rotate(40deg);
  }
  13% {
    transform: translateX(-8.79px) translateY(30px) rotate(45deg);
  }
  14% {
    transform: translateX(-10.72px) translateY(29.54px) rotate(50deg);
  }
  15% {
    transform: translateX(-12.79px) translateY(28.19px) rotate(55deg);
  }
  17% {
    transform: translateX(-15px) translateY(25.98px) rotate(60deg);
  }
  18% {
    transform: translateX(-17.32px) translateY(22.98px) rotate(65deg);
  }
  19% {
    transform: translateX(-19.74px) translateY(19.28px) rotate(70deg);
  }
  21% {
    transform: translateX(-22.24px) translateY(15px) rotate(75deg);
  }
  22% {
    transform: translateX(-24.79px) translateY(10.26px) rotate(80deg);
  }
  24% {
    transform: translateX(-27.39px) translateY(5.21px) rotate(85deg);
  }
  25% {
    transform: translateX(-30px) translateY(0px) rotate(90deg);
  }
  26% {
    transform: translateX(-32.61px) translateY(-5.21px) rotate(95deg);
  }
  28% {
    transform: translateX(-35.21px) translateY(-10.26px) rotate(100deg);
  }
  29% {
    transform: translateX(-37.76px) translateY(-15px) rotate(105deg);
  }
  31% {
    transform: translateX(-40.26px) translateY(-19.28px) rotate(110deg);
  }
  32% {
    transform: translateX(-42.68px) translateY(-22.98px) rotate(115deg);
  }
  33% {
    transform: translateX(-45px) translateY(-25.98px) rotate(120deg);
  }
  35% {
    transform: translateX(-47.21px) translateY(-28.19px) rotate(125deg);
  }
  36% {
    transform: translateX(-49.28px) translateY(-29.54px) rotate(130deg);
  }
  38% {
    transform: translateX(-51.21px) translateY(-30px) rotate(135deg);
  }
  39% {
    transform: translateX(-52.98px) translateY(-29.54px) rotate(140deg);
  }
  40% {
    transform: translateX(-54.57px) translateY(-28.19px) rotate(145deg);
  }
  42% {
    transform: translateX(-55.98px) translateY(-25.98px) rotate(150deg);
  }
  43% {
    transform: translateX(-57.19px) translateY(-22.98px) rotate(155deg);
  }
  44% {
    transform: translateX(-58.19px) translateY(-19.28px) rotate(160deg);
  }
  46% {
    transform: translateX(-58.98px) translateY(-15px) rotate(165deg);
  }
  47% {
    transform: translateX(-59.54px) translateY(-10.26px) rotate(170deg);
  }
  49% {
    transform: translateX(-59.89px) translateY(-5.21px) rotate(175deg);
  }
  50% {
    transform: translateX(-60px) translateY(-0px) rotate(180deg);
  }
  51% {
    transform: translateX(-59.89px) translateY(5.21px) rotate(185deg);
  }
  53% {
    transform: translateX(-59.54px) translateY(10.26px) rotate(190deg);
  }
  54% {
    transform: translateX(-58.98px) translateY(15px) rotate(195deg);
  }
  56% {
    transform: translateX(-58.19px) translateY(19.28px) rotate(200deg);
  }
  57% {
    transform: translateX(-57.19px) translateY(22.98px) rotate(205deg);
  }
  58% {
    transform: translateX(-55.98px) translateY(25.98px) rotate(210deg);
  }
  60% {
    transform: translateX(-54.57px) translateY(28.19px) rotate(215deg);
  }
  61% {
    transform: translateX(-52.98px) translateY(29.54px) rotate(220deg);
  }
  63% {
    transform: translateX(-51.21px) translateY(30px) rotate(225deg);
  }
  64% {
    transform: translateX(-49.28px) translateY(29.54px) rotate(230deg);
  }
  65% {
    transform: translateX(-47.21px) translateY(28.19px) rotate(235deg);
  }
  67% {
    transform: translateX(-45px) translateY(25.98px) rotate(240deg);
  }
  68% {
    transform: translateX(-42.68px) translateY(22.98px) rotate(245deg);
  }
  69% {
    transform: translateX(-40.26px) translateY(19.28px) rotate(250deg);
  }
  71% {
    transform: translateX(-37.76px) translateY(15px) rotate(255deg);
  }
  72% {
    transform: translateX(-35.21px) translateY(10.26px) rotate(260deg);
  }
  74% {
    transform: translateX(-32.61px) translateY(5.21px) rotate(265deg);
  }
  75% {
    transform: translateX(-30px) translateY(0px) rotate(270deg);
  }
  76% {
    transform: translateX(-27.39px) translateY(-5.21px) rotate(275deg);
  }
  78% {
    transform: translateX(-24.79px) translateY(-10.26px) rotate(280deg);
  }
  79% {
    transform: translateX(-22.24px) translateY(-15px) rotate(285deg);
  }
  81% {
    transform: translateX(-19.74px) translateY(-19.28px) rotate(290deg);
  }
  82% {
    transform: translateX(-17.32px) translateY(-22.98px) rotate(295deg);
  }
  83% {
    transform: translateX(-15px) translateY(-25.98px) rotate(300deg);
  }
  85% {
    transform: translateX(-12.79px) translateY(-28.19px) rotate(305deg);
  }
  86% {
    transform: translateX(-10.72px) translateY(-29.54px) rotate(310deg);
  }
  88% {
    transform: translateX(-8.79px) translateY(-30px) rotate(315deg);
  }
  89% {
    transform: translateX(-7.02px) translateY(-29.54px) rotate(320deg);
  }
  90% {
    transform: translateX(-5.43px) translateY(-28.19px) rotate(325deg);
  }
  92% {
    transform: translateX(-4.02px) translateY(-25.98px) rotate(330deg);
  }
  93% {
    transform: translateX(-2.81px) translateY(-22.98px) rotate(335deg);
  }
  94% {
    transform: translateX(-1.81px) translateY(-19.28px) rotate(340deg);
  }
  96% {
    transform: translateX(-1.02px) translateY(-15px) rotate(345deg);
  }
  97% {
    transform: translateX(-0.46px) translateY(-10.26px) rotate(350deg);
  }
  99% {
    transform: translateX(-0.11px) translateY(-5.21px) rotate(355deg);
  }
  100% {
    transform: translateX(0px) translateY(-0px) rotate(360deg);
  }
}

@keyframes infiniteCircle_20 {
  0% {
    transform: translateX(40px) translateY(0px) rotate(0deg);
  }
  1% {
    transform: translateX(39.92px) translateY(3.47px) rotate(5deg);
  }
  3% {
    transform: translateX(39.7px) translateY(6.84px) rotate(10deg);
  }
  4% {
    transform: translateX(39.32px) translateY(10px) rotate(15deg);
  }
  6% {
    transform: translateX(38.79px) translateY(12.86px) rotate(20deg);
  }
  7% {
    transform: translateX(38.13px) translateY(15.32px) rotate(25deg);
  }
  8% {
    transform: translateX(37.32px) translateY(17.32px) rotate(30deg);
  }
  10% {
    transform: translateX(36.38px) translateY(18.79px) rotate(35deg);
  }
  11% {
    transform: translateX(35.32px) translateY(19.7px) rotate(40deg);
  }
  13% {
    transform: translateX(34.14px) translateY(20px) rotate(45deg);
  }
  14% {
    transform: translateX(32.86px) translateY(19.7px) rotate(50deg);
  }
  15% {
    transform: translateX(31.47px) translateY(18.79px) rotate(55deg);
  }
  17% {
    transform: translateX(30px) translateY(17.32px) rotate(60deg);
  }
  18% {
    transform: translateX(28.45px) translateY(15.32px) rotate(65deg);
  }
  19% {
    transform: translateX(26.84px) translateY(12.86px) rotate(70deg);
  }
  21% {
    transform: translateX(25.18px) translateY(10px) rotate(75deg);
  }
  22% {
    transform: translateX(23.47px) translateY(6.84px) rotate(80deg);
  }
  24% {
    transform: translateX(21.74px) translateY(3.47px) rotate(85deg);
  }
  25% {
    transform: translateX(20px) translateY(0px) rotate(90deg);
  }
  26% {
    transform: translateX(18.26px) translateY(-3.47px) rotate(95deg);
  }
  28% {
    transform: translateX(16.53px) translateY(-6.84px) rotate(100deg);
  }
  29% {
    transform: translateX(14.82px) translateY(-10px) rotate(105deg);
  }
  31% {
    transform: translateX(13.16px) translateY(-12.86px) rotate(110deg);
  }
  32% {
    transform: translateX(11.55px) translateY(-15.32px) rotate(115deg);
  }
  33% {
    transform: translateX(10px) translateY(-17.32px) rotate(120deg);
  }
  35% {
    transform: translateX(8.53px) translateY(-18.79px) rotate(125deg);
  }
  36% {
    transform: translateX(7.14px) translateY(-19.7px) rotate(130deg);
  }
  38% {
    transform: translateX(5.86px) translateY(-20px) rotate(135deg);
  }
  39% {
    transform: translateX(4.68px) translateY(-19.7px) rotate(140deg);
  }
  40% {
    transform: translateX(3.62px) translateY(-18.79px) rotate(145deg);
  }
  42% {
    transform: translateX(2.68px) translateY(-17.32px) rotate(150deg);
  }
  43% {
    transform: translateX(1.87px) translateY(-15.32px) rotate(155deg);
  }
  44% {
    transform: translateX(1.21px) translateY(-12.86px) rotate(160deg);
  }
  46% {
    transform: translateX(0.68px) translateY(-10px) rotate(165deg);
  }
  47% {
    transform: translateX(0.3px) translateY(-6.84px) rotate(170deg);
  }
  49% {
    transform: translateX(0.08px) translateY(-3.47px) rotate(175deg);
  }
  50% {
    transform: translateX(0px) translateY(-0px) rotate(180deg);
  }
  51% {
    transform: translateX(0.08px) translateY(3.47px) rotate(185deg);
  }
  53% {
    transform: translateX(0.3px) translateY(6.84px) rotate(190deg);
  }
  54% {
    transform: translateX(0.68px) translateY(10px) rotate(195deg);
  }
  56% {
    transform: translateX(1.21px) translateY(12.86px) rotate(200deg);
  }
  57% {
    transform: translateX(1.87px) translateY(15.32px) rotate(205deg);
  }
  58% {
    transform: translateX(2.68px) translateY(17.32px) rotate(210deg);
  }
  60% {
    transform: translateX(3.62px) translateY(18.79px) rotate(215deg);
  }
  61% {
    transform: translateX(4.68px) translateY(19.7px) rotate(220deg);
  }
  63% {
    transform: translateX(5.86px) translateY(20px) rotate(225deg);
  }
  64% {
    transform: translateX(7.14px) translateY(19.7px) rotate(230deg);
  }
  65% {
    transform: translateX(8.53px) translateY(18.79px) rotate(235deg);
  }
  67% {
    transform: translateX(10px) translateY(17.32px) rotate(240deg);
  }
  68% {
    transform: translateX(11.55px) translateY(15.32px) rotate(245deg);
  }
  69% {
    transform: translateX(13.16px) translateY(12.86px) rotate(250deg);
  }
  71% {
    transform: translateX(14.82px) translateY(10px) rotate(255deg);
  }
  72% {
    transform: translateX(16.53px) translateY(6.84px) rotate(260deg);
  }
  74% {
    transform: translateX(18.26px) translateY(3.47px) rotate(265deg);
  }
  75% {
    transform: translateX(20px) translateY(0px) rotate(270deg);
  }
  76% {
    transform: translateX(21.74px) translateY(-3.47px) rotate(275deg);
  }
  78% {
    transform: translateX(23.47px) translateY(-6.84px) rotate(280deg);
  }
  79% {
    transform: translateX(25.18px) translateY(-10px) rotate(285deg);
  }
  81% {
    transform: translateX(26.84px) translateY(-12.86px) rotate(290deg);
  }
  82% {
    transform: translateX(28.45px) translateY(-15.32px) rotate(295deg);
  }
  83% {
    transform: translateX(30px) translateY(-17.32px) rotate(300deg);
  }
  85% {
    transform: translateX(31.47px) translateY(-18.79px) rotate(305deg);
  }
  86% {
    transform: translateX(32.86px) translateY(-19.7px) rotate(310deg);
  }
  88% {
    transform: translateX(34.14px) translateY(-20px) rotate(315deg);
  }
  89% {
    transform: translateX(35.32px) translateY(-19.7px) rotate(320deg);
  }
  90% {
    transform: translateX(36.38px) translateY(-18.79px) rotate(325deg);
  }
  92% {
    transform: translateX(37.32px) translateY(-17.32px) rotate(330deg);
  }
  93% {
    transform: translateX(38.13px) translateY(-15.32px) rotate(335deg);
  }
  94% {
    transform: translateX(38.79px) translateY(-12.86px) rotate(340deg);
  }
  96% {
    transform: translateX(39.32px) translateY(-10px) rotate(345deg);
  }
  97% {
    transform: translateX(39.7px) translateY(-6.84px) rotate(350deg);
  }
  99% {
    transform: translateX(39.92px) translateY(-3.47px) rotate(355deg);
  }
  100% {
    transform: translateX(40px) translateY(-0px) rotate(360deg);
  }
}

@keyframes infiniteCircle_reverse_30 {
  0% {
    transform: translateX(60px) translateY(0px) rotate(0deg);
  }
  1% {
    transform: translateX(59.89px) translateY(5.21px) rotate(-5.21deg);
  }
  3% {
    transform: translateX(59.54px) translateY(10.26px) rotate(-10.26deg);
  }
  4% {
    transform: translateX(58.98px) translateY(15px) rotate(-15deg);
  }
  6% {
    transform: translateX(58.19px) translateY(19.28px) rotate(-19.28deg);
  }
  7% {
    transform: translateX(57.19px) translateY(22.98px) rotate(-22.98deg);
  }
  8% {
    transform: translateX(55.98px) translateY(25.98px) rotate(-25.98deg);
  }
  10% {
    transform: translateX(54.57px) translateY(28.19px) rotate(-28.19deg);
  }
  11% {
    transform: translateX(52.98px) translateY(29.54px) rotate(-29.54deg);
  }
  13% {
    transform: translateX(51.21px) translateY(30px) rotate(-30deg);
  }
  14% {
    transform: translateX(49.28px) translateY(29.54px) rotate(-29.54deg);
  }
  15% {
    transform: translateX(47.21px) translateY(28.19px) rotate(-28.19deg);
  }
  17% {
    transform: translateX(45px) translateY(25.98px) rotate(-25.98deg);
  }
  18% {
    transform: translateX(42.68px) translateY(22.98px) rotate(-22.98deg);
  }
  19% {
    transform: translateX(40.26px) translateY(19.28px) rotate(-19.28deg);
  }
  21% {
    transform: translateX(37.76px) translateY(15px) rotate(-15deg);
  }
  22% {
    transform: translateX(35.21px) translateY(10.26px) rotate(-10.26deg);
  }
  24% {
    transform: translateX(32.61px) translateY(5.21px) rotate(-5.21deg);
  }
  25% {
    transform: translateX(30px) translateY(0px) rotate(0deg);
  }
  26% {
    transform: translateX(27.39px) translateY(-5.21px) rotate(5.21deg);
  }
  28% {
    transform: translateX(24.79px) translateY(-10.26px) rotate(10.26deg);
  }
  29% {
    transform: translateX(22.24px) translateY(-15px) rotate(15deg);
  }
  31% {
    transform: translateX(19.74px) translateY(-19.28px) rotate(19.28deg);
  }
  32% {
    transform: translateX(17.32px) translateY(-22.98px) rotate(22.98deg);
  }
  33% {
    transform: translateX(15px) translateY(-25.98px) rotate(25.98deg);
  }
  35% {
    transform: translateX(12.79px) translateY(-28.19px) rotate(28.19deg);
  }
  36% {
    transform: translateX(10.72px) translateY(-29.54px) rotate(29.54deg);
  }
  38% {
    transform: translateX(8.79px) translateY(-30px) rotate(30deg);
  }
  39% {
    transform: translateX(7.02px) translateY(-29.54px) rotate(29.54deg);
  }
  40% {
    transform: translateX(5.43px) translateY(-28.19px) rotate(28.19deg);
  }
  42% {
    transform: translateX(4.02px) translateY(-25.98px) rotate(25.98deg);
  }
  43% {
    transform: translateX(2.81px) translateY(-22.98px) rotate(22.98deg);
  }
  44% {
    transform: translateX(1.81px) translateY(-19.28px) rotate(19.28deg);
  }
  46% {
    transform: translateX(1.02px) translateY(-15px) rotate(15deg);
  }
  47% {
    transform: translateX(0.46px) translateY(-10.26px) rotate(10.26deg);
  }
  49% {
    transform: translateX(0.11px) translateY(-5.21px) rotate(5.21deg);
  }
  50% {
    transform: translateX(0px) translateY(-0px) rotate(0deg);
  }
  51% {
    transform: translateX(0.11px) translateY(5.21px) rotate(-5.21deg);
  }
  53% {
    transform: translateX(0.46px) translateY(10.26px) rotate(-10.26deg);
  }
  54% {
    transform: translateX(1.02px) translateY(15px) rotate(-15deg);
  }
  56% {
    transform: translateX(1.81px) translateY(19.28px) rotate(-19.28deg);
  }
  57% {
    transform: translateX(2.81px) translateY(22.98px) rotate(-22.98deg);
  }
  58% {
    transform: translateX(4.02px) translateY(25.98px) rotate(-25.98deg);
  }
  60% {
    transform: translateX(5.43px) translateY(28.19px) rotate(-28.19deg);
  }
  61% {
    transform: translateX(7.02px) translateY(29.54px) rotate(-29.54deg);
  }
  63% {
    transform: translateX(8.79px) translateY(30px) rotate(-30deg);
  }
  64% {
    transform: translateX(10.72px) translateY(29.54px) rotate(-29.54deg);
  }
  65% {
    transform: translateX(12.79px) translateY(28.19px) rotate(-28.19deg);
  }
  67% {
    transform: translateX(15px) translateY(25.98px) rotate(-25.98deg);
  }
  68% {
    transform: translateX(17.32px) translateY(22.98px) rotate(-22.98deg);
  }
  69% {
    transform: translateX(19.74px) translateY(19.28px) rotate(-19.28deg);
  }
  71% {
    transform: translateX(22.24px) translateY(15px) rotate(-15deg);
  }
  72% {
    transform: translateX(24.79px) translateY(10.26px) rotate(-10.26deg);
  }
  74% {
    transform: translateX(27.39px) translateY(5.21px) rotate(-5.21deg);
  }
  75% {
    transform: translateX(30px) translateY(0px) rotate(0deg);
  }
  76% {
    transform: translateX(32.61px) translateY(-5.21px) rotate(5.21deg);
  }
  78% {
    transform: translateX(35.21px) translateY(-10.26px) rotate(10.26deg);
  }
  79% {
    transform: translateX(37.76px) translateY(-15px) rotate(15deg);
  }
  81% {
    transform: translateX(40.26px) translateY(-19.28px) rotate(19.28deg);
  }
  82% {
    transform: translateX(42.68px) translateY(-22.98px) rotate(22.98deg);
  }
  83% {
    transform: translateX(45px) translateY(-25.98px) rotate(25.98deg);
  }
  85% {
    transform: translateX(47.21px) translateY(-28.19px) rotate(28.19deg);
  }
  86% {
    transform: translateX(49.28px) translateY(-29.54px) rotate(29.54deg);
  }
  88% {
    transform: translateX(51.21px) translateY(-30px) rotate(30deg);
  }
  89% {
    transform: translateX(52.98px) translateY(-29.54px) rotate(29.54deg);
  }
  90% {
    transform: translateX(54.57px) translateY(-28.19px) rotate(28.19deg);
  }
  92% {
    transform: translateX(55.98px) translateY(-25.98px) rotate(25.98deg);
  }
  93% {
    transform: translateX(57.19px) translateY(-22.98px) rotate(22.98deg);
  }
  94% {
    transform: translateX(58.19px) translateY(-19.28px) rotate(19.28deg);
  }
  96% {
    transform: translateX(58.98px) translateY(-15px) rotate(15deg);
  }
  97% {
    transform: translateX(59.54px) translateY(-10.26px) rotate(10.26deg);
  }
  99% {
    transform: translateX(59.89px) translateY(-5.21px) rotate(5.21deg);
  }
  100% {
    transform: translateX(60px) translateY(-0px) rotate(0deg);
  }
}

@keyframes infiniteCircle_reverse_20 {
  0% {
    transform: translateX(40px) translateY(0px) rotate(0deg);
  }
  1% {
    transform: translateX(39.92px) translateY(3.47px) rotate(-5deg);
  }
  3% {
    transform: translateX(39.7px) translateY(6.84px) rotate(-10deg);
  }
  4% {
    transform: translateX(39.32px) translateY(10px) rotate(-15deg);
  }
  6% {
    transform: translateX(38.79px) translateY(12.86px) rotate(-20deg);
  }
  7% {
    transform: translateX(38.13px) translateY(15.32px) rotate(-25deg);
  }
  8% {
    transform: translateX(37.32px) translateY(17.32px) rotate(-30deg);
  }
  10% {
    transform: translateX(36.38px) translateY(18.79px) rotate(-35deg);
  }
  11% {
    transform: translateX(35.32px) translateY(19.7px) rotate(-40deg);
  }
  13% {
    transform: translateX(34.14px) translateY(20px) rotate(-45deg);
  }
  14% {
    transform: translateX(32.86px) translateY(19.7px) rotate(-50deg);
  }
  15% {
    transform: translateX(31.47px) translateY(18.79px) rotate(-55deg);
  }
  17% {
    transform: translateX(30px) translateY(17.32px) rotate(-60deg);
  }
  18% {
    transform: translateX(28.45px) translateY(15.32px) rotate(-65deg);
  }
  19% {
    transform: translateX(26.84px) translateY(12.86px) rotate(-70deg);
  }
  21% {
    transform: translateX(25.18px) translateY(10px) rotate(-75deg);
  }
  22% {
    transform: translateX(23.47px) translateY(6.84px) rotate(-80deg);
  }
  24% {
    transform: translateX(21.74px) translateY(3.47px) rotate(-85deg);
  }
  25% {
    transform: translateX(20px) translateY(0px) rotate(-90deg);
  }
  26% {
    transform: translateX(18.26px) translateY(-3.47px) rotate(-95deg);
  }
  28% {
    transform: translateX(16.53px) translateY(-6.84px) rotate(-100deg);
  }
  29% {
    transform: translateX(14.82px) translateY(-10px) rotate(-105deg);
  }
  31% {
    transform: translateX(13.16px) translateY(-12.86px) rotate(-110deg);
  }
  32% {
    transform: translateX(11.55px) translateY(-15.32px) rotate(-115deg);
  }
  33% {
    transform: translateX(10px) translateY(-17.32px) rotate(-120deg);
  }
  35% {
    transform: translateX(8.53px) translateY(-18.79px) rotate(-125deg);
  }
  36% {
    transform: translateX(7.14px) translateY(-19.7px) rotate(-130deg);
  }
  38% {
    transform: translateX(5.86px) translateY(-20px) rotate(-135deg);
  }
  39% {
    transform: translateX(4.68px) translateY(-19.7px) rotate(-140deg);
  }
  40% {
    transform: translateX(3.62px) translateY(-18.79px) rotate(-145deg);
  }
  42% {
    transform: translateX(2.68px) translateY(-17.32px) rotate(-150deg);
  }
  43% {
    transform: translateX(1.87px) translateY(-15.32px) rotate(-155deg);
  }
  44% {
    transform: translateX(1.21px) translateY(-12.86px) rotate(-160deg);
  }
  46% {
    transform: translateX(0.68px) translateY(-10px) rotate(-165deg);
  }
  47% {
    transform: translateX(0.3px) translateY(-6.84px) rotate(-170deg);
  }
  49% {
    transform: translateX(0.08px) translateY(-3.47px) rotate(-175deg);
  }
  50% {
    transform: translateX(0px) translateY(-0px) rotate(-180deg);
  }
  51% {
    transform: translateX(0.08px) translateY(3.47px) rotate(-185deg);
  }
  53% {
    transform: translateX(0.3px) translateY(6.84px) rotate(-190deg);
  }
  54% {
    transform: translateX(0.68px) translateY(10px) rotate(-195deg);
  }
  56% {
    transform: translateX(1.21px) translateY(12.86px) rotate(-200deg);
  }
  57% {
    transform: translateX(1.87px) translateY(15.32px) rotate(-205deg);
  }
  58% {
    transform: translateX(2.68px) translateY(17.32px) rotate(-210deg);
  }
  60% {
    transform: translateX(3.62px) translateY(18.79px) rotate(-215deg);
  }
  61% {
    transform: translateX(4.68px) translateY(19.7px) rotate(-220deg);
  }
  63% {
    transform: translateX(5.86px) translateY(20px) rotate(-225deg);
  }
  64% {
    transform: translateX(7.14px) translateY(19.7px) rotate(-230deg);
  }
  65% {
    transform: translateX(8.53px) translateY(18.79px) rotate(-235deg);
  }
  67% {
    transform: translateX(10px) translateY(17.32px) rotate(-240deg);
  }
  68% {
    transform: translateX(11.55px) translateY(15.32px) rotate(-245deg);
  }
  69% {
    transform: translateX(13.16px) translateY(12.86px) rotate(-250deg);
  }
  71% {
    transform: translateX(14.82px) translateY(10px) rotate(-255deg);
  }
  72% {
    transform: translateX(16.53px) translateY(6.84px) rotate(-260deg);
  }
  74% {
    transform: translateX(18.26px) translateY(3.47px) rotate(-265deg);
  }
  75% {
    transform: translateX(20px) translateY(0px) rotate(-270deg);
  }
  76% {
    transform: translateX(21.74px) translateY(-3.47px) rotate(-275deg);
  }
  78% {
    transform: translateX(23.47px) translateY(-6.84px) rotate(-280deg);
  }
  79% {
    transform: translateX(25.18px) translateY(-10px) rotate(-285deg);
  }
  81% {
    transform: translateX(26.84px) translateY(-12.86px) rotate(-290deg);
  }
  82% {
    transform: translateX(28.45px) translateY(-15.32px) rotate(-295deg);
  }
  83% {
    transform: translateX(30px) translateY(-17.32px) rotate(-300deg);
  }
  85% {
    transform: translateX(31.47px) translateY(-18.79px) rotate(-305deg);
  }
  86% {
    transform: translateX(32.86px) translateY(-19.7px) rotate(-310deg);
  }
  88% {
    transform: translateX(34.14px) translateY(-20px) rotate(-315deg);
  }
  89% {
    transform: translateX(35.32px) translateY(-19.7px) rotate(-320deg);
  }
  90% {
    transform: translateX(36.38px) translateY(-18.79px) rotate(-325deg);
  }
  92% {
    transform: translateX(37.32px) translateY(-17.32px) rotate(-330deg);
  }
  93% {
    transform: translateX(38.13px) translateY(-15.32px) rotate(-335deg);
  }
  94% {
    transform: translateX(38.79px) translateY(-12.86px) rotate(-340deg);
  }
  96% {
    transform: translateX(39.32px) translateY(-10px) rotate(-345deg);
  }
  97% {
    transform: translateX(39.7px) translateY(-6.84px) rotate(-350deg);
  }
  99% {
    transform: translateX(39.92px) translateY(-3.47px) rotate(-355deg);
  }
  100% {
    transform: translateX(40px) translateY(-0px) rotate(-360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInPy {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes wave_r100 {
  0% {
    transform: translateX(200px);
  }
  1% {
    transform: translateX(199.62px);
  }
  3% {
    transform: translateX(198.48px);
  }
  4% {
    transform: translateX(196.59px);
  }
  6% {
    transform: translateX(193.97px);
  }
  7% {
    transform: translateX(190.63px);
  }
  8% {
    transform: translateX(186.6px);
  }
  10% {
    transform: translateX(181.92px);
  }
  11% {
    transform: translateX(176.6px);
  }
  13% {
    transform: translateX(170.71px);
  }
  14% {
    transform: translateX(164.28px);
  }
  15% {
    transform: translateX(157.36px);
  }
  17% {
    transform: translateX(150px);
  }
  18% {
    transform: translateX(142.26px);
  }
  19% {
    transform: translateX(134.2px);
  }
  21% {
    transform: translateX(125.88px);
  }
  22% {
    transform: translateX(117.36px);
  }
  24% {
    transform: translateX(108.72px);
  }
  25% {
    transform: translateX(100px);
  }
  26% {
    transform: translateX(91.28px);
  }
  28% {
    transform: translateX(82.64px);
  }
  29% {
    transform: translateX(74.12px);
  }
  31% {
    transform: translateX(65.8px);
  }
  32% {
    transform: translateX(57.74px);
  }
  33% {
    transform: translateX(50px);
  }
  35% {
    transform: translateX(42.64px);
  }
  36% {
    transform: translateX(35.72px);
  }
  38% {
    transform: translateX(29.29px);
  }
  39% {
    transform: translateX(23.4px);
  }
  40% {
    transform: translateX(18.08px);
  }
  42% {
    transform: translateX(13.4px);
  }
  43% {
    transform: translateX(9.37px);
  }
  44% {
    transform: translateX(6.03px);
  }
  46% {
    transform: translateX(3.41px);
  }
  47% {
    transform: translateX(1.52px);
  }
  49% {
    transform: translateX(0.38px);
  }
  50% {
    transform: translateX(0px);
  }
  51% {
    transform: translateX(0.38px);
  }
  53% {
    transform: translateX(1.52px);
  }
  54% {
    transform: translateX(3.41px);
  }
  56% {
    transform: translateX(6.03px);
  }
  57% {
    transform: translateX(9.37px);
  }
  58% {
    transform: translateX(13.4px);
  }
  60% {
    transform: translateX(18.08px);
  }
  61% {
    transform: translateX(23.4px);
  }
  63% {
    transform: translateX(29.29px);
  }
  64% {
    transform: translateX(35.72px);
  }
  65% {
    transform: translateX(42.64px);
  }
  67% {
    transform: translateX(50px);
  }
  68% {
    transform: translateX(57.74px);
  }
  69% {
    transform: translateX(65.8px);
  }
  71% {
    transform: translateX(74.12px);
  }
  72% {
    transform: translateX(82.64px);
  }
  74% {
    transform: translateX(91.28px);
  }
  75% {
    transform: translateX(100px);
  }
  76% {
    transform: translateX(108.72px);
  }
  78% {
    transform: translateX(117.36px);
  }
  79% {
    transform: translateX(125.88px);
  }
  81% {
    transform: translateX(134.2px);
  }
  82% {
    transform: translateX(142.26px);
  }
  83% {
    transform: translateX(150px);
  }
  85% {
    transform: translateX(157.36px);
  }
  86% {
    transform: translateX(164.28px);
  }
  88% {
    transform: translateX(170.71px);
  }
  89% {
    transform: translateX(176.6px);
  }
  90% {
    transform: translateX(181.92px);
  }
  92% {
    transform: translateX(186.6px);
  }
  93% {
    transform: translateX(190.63px);
  }
  94% {
    transform: translateX(193.97px);
  }
  96% {
    transform: translateX(196.59px);
  }
  97% {
    transform: translateX(198.48px);
  }
  99% {
    transform: translateX(199.62px);
  }
  100% {
    transform: translateX(200px);
  }
}

@keyframes wave_r50 {
  0% {
    transform: translateX(100px);
  }
  1% {
    transform: translateX(99.81px);
  }
  3% {
    transform: translateX(99.24px);
  }
  4% {
    transform: translateX(98.3px);
  }
  6% {
    transform: translateX(96.98px);
  }
  7% {
    transform: translateX(95.32px);
  }
  8% {
    transform: translateX(93.3px);
  }
  10% {
    transform: translateX(90.96px);
  }
  11% {
    transform: translateX(88.3px);
  }
  13% {
    transform: translateX(85.36px);
  }
  14% {
    transform: translateX(82.14px);
  }
  15% {
    transform: translateX(78.68px);
  }
  17% {
    transform: translateX(75px);
  }
  18% {
    transform: translateX(71.13px);
  }
  19% {
    transform: translateX(67.1px);
  }
  21% {
    transform: translateX(62.94px);
  }
  22% {
    transform: translateX(58.68px);
  }
  24% {
    transform: translateX(54.36px);
  }
  25% {
    transform: translateX(50px);
  }
  26% {
    transform: translateX(45.64px);
  }
  28% {
    transform: translateX(41.32px);
  }
  29% {
    transform: translateX(37.06px);
  }
  31% {
    transform: translateX(32.9px);
  }
  32% {
    transform: translateX(28.87px);
  }
  33% {
    transform: translateX(25px);
  }
  35% {
    transform: translateX(21.32px);
  }
  36% {
    transform: translateX(17.86px);
  }
  38% {
    transform: translateX(14.64px);
  }
  39% {
    transform: translateX(11.7px);
  }
  40% {
    transform: translateX(9.04px);
  }
  42% {
    transform: translateX(6.7px);
  }
  43% {
    transform: translateX(4.68px);
  }
  44% {
    transform: translateX(3.02px);
  }
  46% {
    transform: translateX(1.7px);
  }
  47% {
    transform: translateX(0.76px);
  }
  49% {
    transform: translateX(0.19px);
  }
  50% {
    transform: translateX(0px);
  }
  51% {
    transform: translateX(0.19px);
  }
  53% {
    transform: translateX(0.76px);
  }
  54% {
    transform: translateX(1.7px);
  }
  56% {
    transform: translateX(3.02px);
  }
  57% {
    transform: translateX(4.68px);
  }
  58% {
    transform: translateX(6.7px);
  }
  60% {
    transform: translateX(9.04px);
  }
  61% {
    transform: translateX(11.7px);
  }
  63% {
    transform: translateX(14.64px);
  }
  64% {
    transform: translateX(17.86px);
  }
  65% {
    transform: translateX(21.32px);
  }
  67% {
    transform: translateX(25px);
  }
  68% {
    transform: translateX(28.87px);
  }
  69% {
    transform: translateX(32.9px);
  }
  71% {
    transform: translateX(37.06px);
  }
  72% {
    transform: translateX(41.32px);
  }
  74% {
    transform: translateX(45.64px);
  }
  75% {
    transform: translateX(50px);
  }
  76% {
    transform: translateX(54.36px);
  }
  78% {
    transform: translateX(58.68px);
  }
  79% {
    transform: translateX(62.94px);
  }
  81% {
    transform: translateX(67.1px);
  }
  82% {
    transform: translateX(71.13px);
  }
  83% {
    transform: translateX(75px);
  }
  85% {
    transform: translateX(78.68px);
  }
  86% {
    transform: translateX(82.14px);
  }
  88% {
    transform: translateX(85.36px);
  }
  89% {
    transform: translateX(88.3px);
  }
  90% {
    transform: translateX(90.96px);
  }
  92% {
    transform: translateX(93.3px);
  }
  93% {
    transform: translateX(95.32px);
  }
  94% {
    transform: translateX(96.98px);
  }
  96% {
    transform: translateX(98.3px);
  }
  97% {
    transform: translateX(99.24px);
  }
  99% {
    transform: translateX(99.81px);
  }
  100% {
    transform: translateX(100px);
  }
}

@keyframes wave_r30 {
  0% {
    transform: translateX(60px);
  }
  1% {
    transform: translateX(59.89px);
  }
  3% {
    transform: translateX(59.54px);
  }
  4% {
    transform: translateX(58.98px);
  }
  6% {
    transform: translateX(58.19px);
  }
  7% {
    transform: translateX(57.19px);
  }
  8% {
    transform: translateX(55.98px);
  }
  10% {
    transform: translateX(54.57px);
  }
  11% {
    transform: translateX(52.98px);
  }
  13% {
    transform: translateX(51.21px);
  }
  14% {
    transform: translateX(49.28px);
  }
  15% {
    transform: translateX(47.21px);
  }
  17% {
    transform: translateX(45px);
  }
  18% {
    transform: translateX(42.68px);
  }
  19% {
    transform: translateX(40.26px);
  }
  21% {
    transform: translateX(37.76px);
  }
  22% {
    transform: translateX(35.21px);
  }
  24% {
    transform: translateX(32.61px);
  }
  25% {
    transform: translateX(30px);
  }
  26% {
    transform: translateX(27.39px);
  }
  28% {
    transform: translateX(24.79px);
  }
  29% {
    transform: translateX(22.24px);
  }
  31% {
    transform: translateX(19.74px);
  }
  32% {
    transform: translateX(17.32px);
  }
  33% {
    transform: translateX(15px);
  }
  35% {
    transform: translateX(12.79px);
  }
  36% {
    transform: translateX(10.72px);
  }
  38% {
    transform: translateX(8.79px);
  }
  39% {
    transform: translateX(7.02px);
  }
  40% {
    transform: translateX(5.43px);
  }
  42% {
    transform: translateX(4.02px);
  }
  43% {
    transform: translateX(2.81px);
  }
  44% {
    transform: translateX(1.81px);
  }
  46% {
    transform: translateX(1.02px);
  }
  47% {
    transform: translateX(0.46px);
  }
  49% {
    transform: translateX(0.11px);
  }
  50% {
    transform: translateX(0px);
  }
  51% {
    transform: translateX(0.11px);
  }
  53% {
    transform: translateX(0.46px);
  }
  54% {
    transform: translateX(1.02px);
  }
  56% {
    transform: translateX(1.81px);
  }
  57% {
    transform: translateX(2.81px);
  }
  58% {
    transform: translateX(4.02px);
  }
  60% {
    transform: translateX(5.43px);
  }
  61% {
    transform: translateX(7.02px);
  }
  63% {
    transform: translateX(8.79px);
  }
  64% {
    transform: translateX(10.72px);
  }
  65% {
    transform: translateX(12.79px);
  }
  67% {
    transform: translateX(15px);
  }
  68% {
    transform: translateX(17.32px);
  }
  69% {
    transform: translateX(19.74px);
  }
  71% {
    transform: translateX(22.24px);
  }
  72% {
    transform: translateX(24.79px);
  }
  74% {
    transform: translateX(27.39px);
  }
  75% {
    transform: translateX(30px);
  }
  76% {
    transform: translateX(32.61px);
  }
  78% {
    transform: translateX(35.21px);
  }
  79% {
    transform: translateX(37.76px);
  }
  81% {
    transform: translateX(40.26px);
  }
  82% {
    transform: translateX(42.68px);
  }
  83% {
    transform: translateX(45px);
  }
  85% {
    transform: translateX(47.21px);
  }
  86% {
    transform: translateX(49.28px);
  }
  88% {
    transform: translateX(51.21px);
  }
  89% {
    transform: translateX(52.98px);
  }
  90% {
    transform: translateX(54.57px);
  }
  92% {
    transform: translateX(55.98px);
  }
  93% {
    transform: translateX(57.19px);
  }
  94% {
    transform: translateX(58.19px);
  }
  96% {
    transform: translateX(58.98px);
  }
  97% {
    transform: translateX(59.54px);
  }
  99% {
    transform: translateX(59.89px);
  }
  100% {
    transform: translateX(60px);
  }
}

@keyframes wave_r20 {
  0% {
    transform: translateX(40px);
  }
  1% {
    transform: translateX(39.92px);
  }
  3% {
    transform: translateX(39.7px);
  }
  4% {
    transform: translateX(39.32px);
  }
  6% {
    transform: translateX(38.79px);
  }
  7% {
    transform: translateX(38.13px);
  }
  8% {
    transform: translateX(37.32px);
  }
  10% {
    transform: translateX(36.38px);
  }
  11% {
    transform: translateX(35.32px);
  }
  13% {
    transform: translateX(34.14px);
  }
  14% {
    transform: translateX(32.86px);
  }
  15% {
    transform: translateX(31.47px);
  }
  17% {
    transform: translateX(30px);
  }
  18% {
    transform: translateX(28.45px);
  }
  19% {
    transform: translateX(26.84px);
  }
  21% {
    transform: translateX(25.18px);
  }
  22% {
    transform: translateX(23.47px);
  }
  24% {
    transform: translateX(21.74px);
  }
  25% {
    transform: translateX(20px);
  }
  26% {
    transform: translateX(18.26px);
  }
  28% {
    transform: translateX(16.53px);
  }
  29% {
    transform: translateX(14.82px);
  }
  31% {
    transform: translateX(13.16px);
  }
  32% {
    transform: translateX(11.55px);
  }
  33% {
    transform: translateX(10px);
  }
  35% {
    transform: translateX(8.53px);
  }
  36% {
    transform: translateX(7.14px);
  }
  38% {
    transform: translateX(5.86px);
  }
  39% {
    transform: translateX(4.68px);
  }
  40% {
    transform: translateX(3.62px);
  }
  42% {
    transform: translateX(2.68px);
  }
  43% {
    transform: translateX(1.87px);
  }
  44% {
    transform: translateX(1.21px);
  }
  46% {
    transform: translateX(0.68px);
  }
  47% {
    transform: translateX(0.3px);
  }
  49% {
    transform: translateX(0.08px);
  }
  50% {
    transform: translateX(0px);
  }
  51% {
    transform: translateX(0.08px);
  }
  53% {
    transform: translateX(0.3px);
  }
  54% {
    transform: translateX(0.68px);
  }
  56% {
    transform: translateX(1.21px);
  }
  57% {
    transform: translateX(1.87px);
  }
  58% {
    transform: translateX(2.68px);
  }
  60% {
    transform: translateX(3.62px);
  }
  61% {
    transform: translateX(4.68px);
  }
  63% {
    transform: translateX(5.86px);
  }
  64% {
    transform: translateX(7.14px);
  }
  65% {
    transform: translateX(8.53px);
  }
  67% {
    transform: translateX(10px);
  }
  68% {
    transform: translateX(11.55px);
  }
  69% {
    transform: translateX(13.16px);
  }
  71% {
    transform: translateX(14.82px);
  }
  72% {
    transform: translateX(16.53px);
  }
  74% {
    transform: translateX(18.26px);
  }
  75% {
    transform: translateX(20px);
  }
  76% {
    transform: translateX(21.74px);
  }
  78% {
    transform: translateX(23.47px);
  }
  79% {
    transform: translateX(25.18px);
  }
  81% {
    transform: translateX(26.84px);
  }
  82% {
    transform: translateX(28.45px);
  }
  83% {
    transform: translateX(30px);
  }
  85% {
    transform: translateX(31.47px);
  }
  86% {
    transform: translateX(32.86px);
  }
  88% {
    transform: translateX(34.14px);
  }
  89% {
    transform: translateX(35.32px);
  }
  90% {
    transform: translateX(36.38px);
  }
  92% {
    transform: translateX(37.32px);
  }
  93% {
    transform: translateX(38.13px);
  }
  94% {
    transform: translateX(38.79px);
  }
  96% {
    transform: translateX(39.32px);
  }
  97% {
    transform: translateX(39.7px);
  }
  99% {
    transform: translateX(39.92px);
  }
  100% {
    transform: translateX(40px);
  }
}

@keyframes wave_r10 {
  0% {
    transform: translateX(20px);
  }
  1% {
    transform: translateX(19.96px);
  }
  3% {
    transform: translateX(19.85px);
  }
  4% {
    transform: translateX(19.66px);
  }
  6% {
    transform: translateX(19.4px);
  }
  7% {
    transform: translateX(19.06px);
  }
  8% {
    transform: translateX(18.66px);
  }
  10% {
    transform: translateX(18.19px);
  }
  11% {
    transform: translateX(17.66px);
  }
  13% {
    transform: translateX(17.07px);
  }
  14% {
    transform: translateX(16.43px);
  }
  15% {
    transform: translateX(15.74px);
  }
  17% {
    transform: translateX(15px);
  }
  18% {
    transform: translateX(14.23px);
  }
  19% {
    transform: translateX(13.42px);
  }
  21% {
    transform: translateX(12.59px);
  }
  22% {
    transform: translateX(11.74px);
  }
  24% {
    transform: translateX(10.87px);
  }
  25% {
    transform: translateX(10px);
  }
  26% {
    transform: translateX(9.13px);
  }
  28% {
    transform: translateX(8.26px);
  }
  29% {
    transform: translateX(7.41px);
  }
  31% {
    transform: translateX(6.58px);
  }
  32% {
    transform: translateX(5.77px);
  }
  33% {
    transform: translateX(5px);
  }
  35% {
    transform: translateX(4.26px);
  }
  36% {
    transform: translateX(3.57px);
  }
  38% {
    transform: translateX(2.93px);
  }
  39% {
    transform: translateX(2.34px);
  }
  40% {
    transform: translateX(1.81px);
  }
  42% {
    transform: translateX(1.34px);
  }
  43% {
    transform: translateX(0.94px);
  }
  44% {
    transform: translateX(0.6px);
  }
  46% {
    transform: translateX(0.34px);
  }
  47% {
    transform: translateX(0.15px);
  }
  49% {
    transform: translateX(0.04px);
  }
  50% {
    transform: translateX(0px);
  }
  51% {
    transform: translateX(0.04px);
  }
  53% {
    transform: translateX(0.15px);
  }
  54% {
    transform: translateX(0.34px);
  }
  56% {
    transform: translateX(0.6px);
  }
  57% {
    transform: translateX(0.94px);
  }
  58% {
    transform: translateX(1.34px);
  }
  60% {
    transform: translateX(1.81px);
  }
  61% {
    transform: translateX(2.34px);
  }
  63% {
    transform: translateX(2.93px);
  }
  64% {
    transform: translateX(3.57px);
  }
  65% {
    transform: translateX(4.26px);
  }
  67% {
    transform: translateX(5px);
  }
  68% {
    transform: translateX(5.77px);
  }
  69% {
    transform: translateX(6.58px);
  }
  71% {
    transform: translateX(7.41px);
  }
  72% {
    transform: translateX(8.26px);
  }
  74% {
    transform: translateX(9.13px);
  }
  75% {
    transform: translateX(10px);
  }
  76% {
    transform: translateX(10.87px);
  }
  78% {
    transform: translateX(11.74px);
  }
  79% {
    transform: translateX(12.59px);
  }
  81% {
    transform: translateX(13.42px);
  }
  82% {
    transform: translateX(14.23px);
  }
  83% {
    transform: translateX(15px);
  }
  85% {
    transform: translateX(15.74px);
  }
  86% {
    transform: translateX(16.43px);
  }
  88% {
    transform: translateX(17.07px);
  }
  89% {
    transform: translateX(17.66px);
  }
  90% {
    transform: translateX(18.19px);
  }
  92% {
    transform: translateX(18.66px);
  }
  93% {
    transform: translateX(19.06px);
  }
  94% {
    transform: translateX(19.4px);
  }
  96% {
    transform: translateX(19.66px);
  }
  97% {
    transform: translateX(19.85px);
  }
  99% {
    transform: translateX(19.96px);
  }
  100% {
    transform: translateX(20px);
  }
}

@keyframes wave_r5 {
  0% {
    transform: translateX(10px);
  }
  1% {
    transform: translateX(9.98px);
  }
  3% {
    transform: translateX(9.92px);
  }
  4% {
    transform: translateX(9.83px);
  }
  6% {
    transform: translateX(9.7px);
  }
  7% {
    transform: translateX(9.53px);
  }
  8% {
    transform: translateX(9.33px);
  }
  10% {
    transform: translateX(9.1px);
  }
  11% {
    transform: translateX(8.83px);
  }
  13% {
    transform: translateX(8.54px);
  }
  14% {
    transform: translateX(8.21px);
  }
  15% {
    transform: translateX(7.87px);
  }
  17% {
    transform: translateX(7.5px);
  }
  18% {
    transform: translateX(7.11px);
  }
  19% {
    transform: translateX(6.71px);
  }
  21% {
    transform: translateX(6.29px);
  }
  22% {
    transform: translateX(5.87px);
  }
  24% {
    transform: translateX(5.44px);
  }
  25% {
    transform: translateX(5px);
  }
  26% {
    transform: translateX(4.56px);
  }
  28% {
    transform: translateX(4.13px);
  }
  29% {
    transform: translateX(3.71px);
  }
  31% {
    transform: translateX(3.29px);
  }
  32% {
    transform: translateX(2.89px);
  }
  33% {
    transform: translateX(2.5px);
  }
  35% {
    transform: translateX(2.13px);
  }
  36% {
    transform: translateX(1.79px);
  }
  38% {
    transform: translateX(1.46px);
  }
  39% {
    transform: translateX(1.17px);
  }
  40% {
    transform: translateX(0.9px);
  }
  42% {
    transform: translateX(0.67px);
  }
  43% {
    transform: translateX(0.47px);
  }
  44% {
    transform: translateX(0.3px);
  }
  46% {
    transform: translateX(0.17px);
  }
  47% {
    transform: translateX(0.08px);
  }
  49% {
    transform: translateX(0.02px);
  }
  50% {
    transform: translateX(0px);
  }
  51% {
    transform: translateX(0.02px);
  }
  53% {
    transform: translateX(0.08px);
  }
  54% {
    transform: translateX(0.17px);
  }
  56% {
    transform: translateX(0.3px);
  }
  57% {
    transform: translateX(0.47px);
  }
  58% {
    transform: translateX(0.67px);
  }
  60% {
    transform: translateX(0.9px);
  }
  61% {
    transform: translateX(1.17px);
  }
  63% {
    transform: translateX(1.46px);
  }
  64% {
    transform: translateX(1.79px);
  }
  65% {
    transform: translateX(2.13px);
  }
  67% {
    transform: translateX(2.5px);
  }
  68% {
    transform: translateX(2.89px);
  }
  69% {
    transform: translateX(3.29px);
  }
  71% {
    transform: translateX(3.71px);
  }
  72% {
    transform: translateX(4.13px);
  }
  74% {
    transform: translateX(4.56px);
  }
  75% {
    transform: translateX(5px);
  }
  76% {
    transform: translateX(5.44px);
  }
  78% {
    transform: translateX(5.87px);
  }
  79% {
    transform: translateX(6.29px);
  }
  81% {
    transform: translateX(6.71px);
  }
  82% {
    transform: translateX(7.11px);
  }
  83% {
    transform: translateX(7.5px);
  }
  85% {
    transform: translateX(7.87px);
  }
  86% {
    transform: translateX(8.21px);
  }
  88% {
    transform: translateX(8.54px);
  }
  89% {
    transform: translateX(8.83px);
  }
  90% {
    transform: translateX(9.1px);
  }
  92% {
    transform: translateX(9.33px);
  }
  93% {
    transform: translateX(9.53px);
  }
  94% {
    transform: translateX(9.7px);
  }
  96% {
    transform: translateX(9.83px);
  }
  97% {
    transform: translateX(9.92px);
  }
  99% {
    transform: translateX(9.98px);
  }
  100% {
    transform: translateX(10px);
  }
}
